.ui-content {
    padding: 0 !important;
}
 
.ui-listview {
    margin: 0 !important;
}
 
.groupb-wrapper, .groupb-wrapper div.iscroll-scroller {
    width: 100% !important;
}

.ui-page .ui-header {
  padding-top: 0.3em;
  height: 2.8em;
  background: #3498db;
}

.mbackbtn {
  margin-top: 0.57em !important;
  margin-left: 1em !important;
}

#mheading {
  margin-top:0.40em;
}