/*
 * File: css/mobile-app.css
 * Author: Silvery Fu (Team 1, Group A)
 * Description: Styling sheet adopted by all pages
 * Date Last Modified: July 24, 2014
 */

.focus_form {
  border:none; 
  margin-top: 2em; 
}

.ui-content{
  margin-top: 0em;
}

.hide {
  display: none;
}

.focus_form {
  margin-top: 0;
}

.ui-page .ui-header {
  padding-top: 0.3em !important;
  height: 2.8em !important;
  background: #3498db;
}

.mbackbtn {
  margin-top: 0.57em !important;
  margin-left: 1em !important;
}

.minput-login {
  margin-top: 1em;
}

.minput-pwd {
  margin-top: 0.5em;
}

#mheading {
  margin-top:0.40em;
}

/*
File: attendance.css
Author: Shawn Dhawan
Description: Styling for attendance check in function
Date Last Modified: July 24, 2014
*/

.checkinStatus{
	text-align: center;
	border-radius: 5px;
	padding: 0.5px;
}

.checkinStatus p{
	padding: 0px;
	text-shadow: -1px 1px #888;
	margin: 1.5px;
	color: #FFF;
}

#attendanceWrongPin{
	display:none;
	background-color: #ff7c7c;
	border: 2px solid red;
	margin-bottom:2px;
}

#attendanceStatusCheckedIn, #attendanceLastStatus{
	border:2px solid black;
	background-color:#888;
}

#attendanceStatusLocked{
	background-color: #ff7c7c;
	border: 2px solid red;
}

#attendanceStatusUnlocked{
	background-color: #6ec26e;
	border: 2px solid green;
}

#inputDATA {
    text-align: center;
    font-size: 1.5em;
}

#AttendanceNoConnectivity {
    background-color: #A00;
    color: #FFF;
    text-align: center;
    padding: 2px;
    text-shadow: none;
    display: none;
    margin-bottom: 5px;
}

/*
File: attendanceHistory.css
Author: Eunice Ban
Description: Styling for attendance history function
Date Last Modified: June 28, 2014
*/

#attendanceHistoryContent{
	margin-top:0;
	border-style:hidden;	
}
	
#attendanceHistoryTable{
    display:none;
	margin:1em;
	border-collapse: collapse;
	margin-left:5%;
	margin-right:5%;
    overflow: scroll;
}

#attendanceHistoryTable .style2{
    background-color: #eee;
}

.HistoryTable { 
	padding: .3em; 
	border: 1px #ccc solid; 
	width:40em;
	text-align:center;
}

#tableheader{
	background-color: 	#89B9DF;
}

.noHistoryData {
    text-align: center;
    font-style: italic;
    background-color: #ddd;
    padding: 3px;
    border-radius: 5px;
}

#AttendanceHistoryNoConnectivity {
    background-color: #A00;
    color: #FFF;
    text-align: center;
    display: none;
    padding: 2px;
    text-shadow: none;
	border-radius: 5px;
}

#AttendanceHistoryNoConnectivity p{
	padding: 0px;
	text-shadow: -1px 1px #888;
	margin: 1.5px;
	color: #FFF;
}
